<!--div class="row coming-wrap">
	<div class="col-sm-12 hidden-xs" id="coming">
		<p>Mindenféle.hu</p>
	</div>
	<div class="col-sm-12 hidden-sm hidden-md hidden-lg" id="coming-resp">
		<p>Mindenféle.hu</p>
	</div>
</div-->

<div class="row" id="opening-carousel-wrap" >
	<div class="owl-carousel owl-theme">
	<% @posts.each do |post| %>
		<div>
			<%= link_to show_post_path(post) do %>
            <div class="carousel-item" style="background-image: url('<%= post.image.contentimg.url %>')" >
                <div class="carousel-title">
                    <h1 class="highlight">
                        <span><%= post.title %></span>
                    </h1>
                    <p class="carousel-post-date highlight"><span><%= post.created_at.to_date %></span></p>
                </div>
            </div>
            <% end %>
		</div>
	<% end %>
	</div>
</div>

