<div class="row coming-wrap">
  <div class="col-sm-12 hidden-xs" id="coming">
    <p>Mindenféle.hu</p>
  </div>
  <div class="col-sm-12 hidden-sm hidden-md hidden-lg" id="coming-resp">
    <p>Mindenféle.hu</p>
  </div>
</div>