/*PAGE INIT*/
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
@font-face {
font-family: '#{$font-family}';
src: url(font-path('#{$font-filename}.eot'));
src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
url(font-path('#{$font-filename}.woff')) format('woff'),
url(font-path('#{$font-filename}.ttf')) format('truetype'),
url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
font-weight: $font-weight;
font-style: $font-style;
font-stretch: $font-stretch;
}
}
@include declare-font-face('Roboto-Regular', 'Roboto-Regular', 400);
@include declare-font-face('Lobster-Regular', 'Lobster-Regular', 400);
@include declare-font-face('GloriaHallelujah', 'GloriaHallelujah', 400);
@include declare-font-face('PermanentMarker', 'PermanentMarker', 400);

@font-face{font-family:'OleoScript-Bold';src:font-url("OleoScript-Bold.ttf") format("truetype")}
@font-face{font-family:'OleoScript-Regular';src:font-url("OleoScript-Regular.ttf") format("truetype")}

html.turbolinks-progress-bar::before {
	background-color: #8b8b6b !important;
	height: 5px !important;
}

body{
	background-color: #f7f6be;
	background-image: url("/img/symphony.png");
	background-repeat: repeat;

}
/* PAGE INIT END*/

/*HOT CLASSES*/
.center{
	text-align:center;
}
$color-home: yellowgreen;
$color-tudtad: mediumaquamarine;
$color-szorakozas: cornflowerblue;
$color-lelki: salmon;
$color-mindenfele: mediumorchid;

.color-home{
  color:$color-home!important;
}
.color-tudtad, .color-category1{
  color:$color-tudtad!important;
}
.color-szorakozas, .color-category4{
  color:$color-szorakozas!important;
}
.color-lelki, .color-category3{
  color:$color-lelki!important;
}
.color-mindenfele, .color-category2{
  color:$color-mindenfele!important;
}
/*NAVBAR*/

/*Navbar tab position switch from padding to line height*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: transparent;
  background-color: transparent;
}

.public-navbar .navbar-container #myNavbar .nav{
  li.active{
    a{
      color:white;
      &:hover{
        color:white;
      }
    }
  }
  li a{
    color:#777;
  }

  .home-tab{
    &.active{
      background:yellowgreen;
    }
    a:hover{
      color:yellowgreen;
    }
  }

  .tudtad-tab{
    &.active{
      background:mediumaquamarine;
    }
    a:hover{
      color:mediumaquamarine;
    }
  }
  .szorakozas-tab{
    &.active{
      background:cornflowerblue;
    }
    a:hover{
      color:cornflowerblue;
    }
  }
  .lelki-tab{
    &.active{
      background:salmon;
    }
    a:hover{
      color:salmon;
    }
  }

  .mindenfele-tab{
    &.active{
      background:mediumorchid;
    }
    a:hover{
      color:mediumorchid;
    }
  }

  li a{
    padding-top:0;
    padding-bottom:0;
    line-height: 50px;
  }

}

/*navbar container for flexible custom navbar*/
@media (min-width: 576px) and (max-width: 767px) {
  .public-navbar .navbar-container #myNavbar .nav li a{
  	padding-left: 10px;
  	padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .public-navbar .navbar-container #myNavbar .nav li a{
  	padding-left: 10px;
  	padding-right: 10px;
  }
}
/*navbar container end*/


.navbar-wrapper{
	height:51px;
}

//navbar-fonts
nav{
	font-family: Lobster-Regular;
	font-size: 1.2em;
}

.top-nav-collapse{
  .navbar-brand{
    p span{
      &:nth-child(1){
        color:yellowgreen;
      }
      &:nth-child(2){
        color:mediumaquamarine;
      }
      &:nth-child(3){
        color:cornflowerblue;
      }
      &:nth-child(4){
        color:salmon;
      }
      &:nth-child(5){
        color:mediumorchid;
      }
    }
  }
}
.navbar-brand{
  font-family: Lobster-Regular;
  font-size: 1.4em;
  p span{
    transition-duration: 2s;
  }
}
.navtab-social{
	
	.navbutton-facebook{
		font-size:18px;
		&:hover{
			i {
				color:#4867aa;
			}
		}
	}
}

//mobile nav head-button
#custom-navbar{
  .navbar-header{
    button.navbar-toggle{
      border-radius: 0px;
      &:hover{
        background-color:transparent;
      }
      &:active{
        background-color:transparent;
      }
      &:focus{
        background-color:transparent;
      }
    }
  }
}
@media  (max-width: 767px) {
  nav#full-navbar{
    background-color: transparent;
  }
  div.navbar-header{
    background-color: rgba(248, 248, 248, 0.9);
  }
  #myNavbar{
    background-color: rgba(248, 248, 248, 0.9);
  }
}
//background-color: rgba(248, 248, 248, 0.9);

//nav-toggle button animation init
.navbar-toggle {
  padding:9px 4px 9px 10px;
  border-color: lightsalmon!important;
  span.icon-bar{
    background-color:lightsalmon!important;
  }
  .top-bar {transition:0.3s;
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {transition:0.3s;
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  

//nav-toggle button animation
&.collapsed {
   padding:9px 10px;
   border-color: #8b8b6b!important;
  span.icon-bar{
    background-color:#8b8b6b!important;
  }
  .top-bar {transition:0.3s;
    transform: rotate(0deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {transition:0.3s;
    transform: rotate(0deg);
    transform-origin: 10% 90%;
  }
  
}}


/*NAVBAR END*/

#content{
	min-height: calc(100vh - 52px);

}

.page-title{
	margin-top: 0;
	margin-bottom: 0;
	font-family:Lobster-Regular;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #8b8b6b;
	border-bottom: 1px solid #8b8b6b;
}
.page-title-line{
	border-top-color: #8b8b6b;
}

footer {
	min-height:200px;
    background: #f8f8f8;
    border-top: 1px solid #C0C0C0;
    padding-top: 80px;
}

/*INDEX PAGE*/
	#opening-carousel-wrap{
		padding: 0 15px;
	}

	.coming-wrap{
		color:white;
		text-align:center;
		height:calc(100vh - 80px);
		width:100%;
		display:flex;
	vertical-align: middle;
	align-items: center;
	overflow: hidden;
	}
	.coming-wrap::before{
		content:"";
		display:block;
		height:200px;
	}
#index-content-wrap{
	background-color: white;
	min-height:500px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	padding: 2em;
}
/*END*/

.post-list-box{

}
.post-header{
	position: relative;
	padding:0px;
	height:400px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #8b8b6b;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
	.post-header-title{
		position: absolute;
		bottom:0px;
		font-family:"Lobster-Regular";
		padding:5px;
		margin-top: 0px;
		text-align: left;
		width:100%;
		color:rgba(255,255,255,1);
		h1{
			font-size: 2em;
			margin:0px 0px 0px 0px;
		}
		p{
			line-height: 0.5;
			margin:4px 0px 5px 0px;
		}
	}
}
.post-header-wrap{
	margin-top: 1em;
	margin-bottom:1em;
}

.posts-pagination{

  text-align: center;
}

.post-content-wrap{
	    background-color: rgba(255, 255, 255,0.9);
	    margin-bottom: 50px;
}
.post-content-box{
	padding:1em;
}
#arrow-back{
  opacity:0.8;
  &:hover{
    color:inherit;
    text-decoration: none;
    opacity:1;
  }
}
.post-title-wrap{
	/*background-color: rgba(235, 253, 212,0.8);*/
	h1{
		margin-top: 0;
		margin-bottom: 0;
		font-family:Lobster-Regular;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid #8b8b6b;	}
}
.post-nav{
	padding: 1em;
}

/*ADMIN*/
.admin-navbar {
  .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #333;
  }
}
#admin-sidebar{
	border: 1px solid #8b8b6b;
	div h1{
		border-top:none;
	}
	#admin-controls{
		padding:1em;
	}
	.list-group .list-group-item{
		background-color:transparent;
	}
}

.notice-box{
	margin:0!important;
	z-index: 5;

}
.notice-wrapper{
	height:60px;
	padding-top:4px;
}

/*OWL CUSTOM THEME*/

/*OPENING CAROUSEL*/
@keyframes openinganimation {
  0% {
    transform:scale(1);
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1);
  }
  50% {
  }
  100% {
    transform:scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2);
  }
}

  .owl-item.active .carousel-item{
    .opening-carousel-img{
      height:400px;
      width:100%;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      animation: openinganimation 12000ms linear;
      animation-fill-mode: forwards;
    }
  }

  .owl-stage {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
  }

  .opening-carousel{
    overflow:hidden;
  }
  /*próba end*/

  .owl-carousel {
  position: relative;
  }
  .owl-prev,
  .owl-next {
  position: absolute;
  top: 50%;
  }
  .owl-prev {
  left: 0;
  }
  .owl-next {
  right: 0;
  }

  .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next,
    .owl-carousel .owl-dot {
      font-family: 'fontAwesome';
      font-size: 3em;
      background-color: transparent;
      margin-top: -1.5em;
      &:hover{
          background-color: transparent;
      }
  }
  .owl-carousel .owl-nav .owl-prev:before{
      content: "\f137";
  }
  .owl-carousel .owl-nav .owl-next:after{
      content: "\f138";
  }
  /*OWL CAPTION*/
  .carousel-title{
      position: absolute;
      z-index: 10;
      left:1em;
      bottom:1em;
      font-family:"Lobster-Regular";
      padding:0.5em;
      margin-top: 0px;
      text-align: left;
      color:rgba(0,0,0,0.6);

          h1{
              padding:0px;
              font-size: 2em;
              margin:0px 0px 0px 0px;
          }
          p{
              display:inline-block;
          }
  }
  .carousel-item{
      padding:0px;
      height:400px;
      width:100%;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-width: 1px;
      border-style: solid;
      border-top-style: none;
      border-color: #8b8b6b;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  .owl-stage-outer{
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          -webkit-box-shadow: 0 10px 6px -6px #777;
          -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  }
  .highlight span{
      background-color: white;
      box-shadow: 7px 0 0 white, -7px 0 0 white;
      line-height: 1.4;
  }
	/*MEDIA QUERY*/
	 @media screen and (max-width: 767px){
		/*random post*/
		.rpost-title div{
		padding: 0.5em;
			h1{
				font-size: 1.75em
			}

		}
	 	/*carousel*/
	 	.carousel-title{
	 		left:0.5em;
			bottom:0.5em;
	 	}
    	.carousel-title h1{
    		/*border-bottom-right-radius: 15px;
    		border-bottom-left-radius: 15px;*/
    		padding:5px;
			font-size: 1.75em;
    	}
    	p.carousel-post-date{
    		display: none;
    	}
    	
    }
/*RANDOM POST*/
.rpost-title div{
	font-family: Lobster-Regular; 
	padding:1em;
	background-color: #eee;
	color:white;
	h1{
		margin:0;
	}
}
.rpost-title{
	margin-bottom:50px;
}
.rpost-image{
	border-radius:15px;
}
.catcolor1{
	color: mediumaquamarine;
	h1,h2,h3,h4,h5,p{
		color:mediumaquamarine;
	}
}
.catcolor2{
	color:mediumorchid;
	h1,h2,h3,h4,h5,p{
		color:mediumorchid;
	}
}
.catcolor3{
	color:salmon;
	h1,h2,h3,h4,h5,p{
		color:salmon;
	}
}
.catcolor4{
	color:cornflowerblue;
	h1,h2,h3,h4,h5,p{
		color:cornflowerblue;
	}
}
.rpost-category{
	text-align:right;
	a{		
		margin-bottom: 5px;
		display: inline-block;
		border-radius:15px;
		transition-duration:0.6s;
		font-family: Lobster-Regular; 
		font-size: 1.2em;
		padding:0.5em;
		color:white;
		&:hover{
			text-decoration:none;
		}	
	}
	a.category1{
		background-color: mediumaquamarine;
		&:hover{
			background-color: white;
			color: mediumaquamarine;
			text-decoration:none;
		}
	}
	a.category2{
		background-color: mediumorchid;
		&:hover{
			background-color: white;
			color: mediumorchid;
			text-decoration:none;
		}
	}
	a.category3{
		background-color: salmon;
		&:hover{
			background-color: white;
			color: salmon;
			text-decoration:none;
		}
	}
	a.category4{
		background-color: cornflowerblue;
		&:hover{
			background-color: white;
			color: cornflowerblue;
			text-decoration:none;
		}
	}
}
.post-header-title.category1{
	background-color: rgba(102,205,170,0.7);
}
.post-header-title.category2{
	background-color: rgba(186,85,211,0.7);
}
.post-header-title.category3{
	background-color: rgba(250,128,114,0.7);
}
.post-header-title.category4{
	background-color: rgba(100,149,237,0.7);
}
/*KERESÉS*/
.search-content-wrap{
	
	margin: 50px 0;
	div{
		text-align:center;
	}
}
.search-wrap{
	background-color:white;
	display:inline-flex;
	padding:5px 8px;
	border:1px solid #8b8b6b;
	border-radius:4px;
	input{
		font-size: 1.2em;
		border-style:none;
		padding:0;
		&:focus{
			outline: none;
		}
	}
	button{
		border-color:#8b8b6b;
		i{
			color:#8b8b6b;
		}
	}
}
.search-list{
	padding:0;
	list-style-type: none;
}