<div class="row notice-wrapper">
<% unless notice.nil? %>
    <div class="col-sm-12 notice-box alert alert-info alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><p id="notice"><%= notice %></p></div>
<% end %>  
</div>